<%= link_to 'Back to tracks list', tracks_path %>
<div class="track">

  <%= form_for @track do |f| %>
    <%= f.hidden_field :id %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.check_box :private %>
    <%= f.submit %>
    <div class='track-map-container'>
      <div class='track-map'></div>
      <div class='cropper'></div>
    </div>
    <% if @track.track_stat %>
      <div class='track-stats'>
        <%= render @track.track_stat %>
      </div>
    <% end %>
  <% end %>

  <%= form_tag({action: :crop}, method: :put) %>
    <%= hidden_field_tag :begin, '0' %>
    <%= hidden_field_tag :end, "#{ @track.points.length - 1 }" %>
    <%= submit_tag 'Crop' %>
</div>
